#editor { 
    height:80vh;
    width:100%;
    font-size: 20px;
}

.languages {
    margin-left: 10px;
    position:absolute;
    right:10px;
}

.wait{
   
    position:absolute;
    top:50%;
    left:30%
}
.wait img {
    width: 250px;
}